@import "variables";
@import "extends";
@import "mixins";
@import "globales";
@import "index";
@import "cards";
@import "faq";
@import "historia";
@import "contacto";


/*Tablets*/
@media (max-width: 767px) {
    .logo {
        width: 110px;
    }
    h1 {
        font-size: 20px;
    }
    h4 {
        font-size: 14px;
    }
    .encabezado {
        flex-direction: column;
        padding-bottom: 20px;
    }
    .encabezado div {
        text-align: center;
    }
    
    .menu ul li a {
        font-size: 13px;
    }
    
    h3 {
        font-size: 17px;
    }
    body {
        font-size: 13px;
    }

    .cards {
        flex-wrap: wrap;
        .card {
            width: 40%;
            flex: none;
            margin-bottom: 20px;
        }
    }
}




/*Mobile*/
@media (max-width: 575px) {
    .encabezado {
        flex-direction: column;
        padding-bottom: 20px;
        div {
            text-align: center;
        }
    } 
    
    .menu ul {
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        li {
            margin: 4px;
            background-color: #eee;
            border-radius: 3px;
            padding: 2px 5px;
        }
    }

    .grid-container {
        width: 100%;
        margin: 0 auto;
        color: black;
        font-family: 'Montserrat', sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "banner banner banner"
        "img img img"
        "main main main"
        "section section section"
        "footer footer footer"
        ;
    }
    .img-contenido img {
        height: 200px;
        object-fit: contain;
    }

    body {
        font-size: 13px;
    }
    .cards .card {
        width: 100%;
        flex: none;
    }
    .cards {
        padding: 20px;
    }
}